<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
	<ion-buttons right>
		<button ion-button icon-only (click)="startSort()"><ion-icon name="funnel"></ion-icon></button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	
	<ion-list>
		<ion-item *ngFor="let item of items">Hello</ion-item>
	</ion-list>

</ion-content>
